<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<div class="container">
    <mat-tab-group>
        <mat-tab label="Затворен тип">
            <app-create-closed></app-create-closed>
        </mat-tab>
        <mat-tab label="Отворен тип">
            <app-create-open></app-create-open>
        </mat-tab>
        <mat-tab label="Drag-And-Drop упражнение">
            <app-create-drag-and-drop></app-create-drag-and-drop>
        </mat-tab>
        <mat-tab label="Упражнение за говорене">
            <app-create-speaking></app-create-speaking>
        </mat-tab>
    </mat-tab-group>
</div>