<div class="container" *ngIf="exercise">
    <error-box *ngIf="errorMessage" [message]="errorMessage"></error-box>
    <h1>{{exercise.description}}</h1>
    <div *ngIf="!exercise.isHearingExercise">{{exercise.content}}</div>
    <speaker-button *ngIf="exercise.isHearingExercise" [text]="exercise.content"></speaker-button>
    <div class="microphone-icon" (click)="listen()">
        <i class="material-icons">mic</i>
    </div>
    <result-box
        [hasAnsweredCorrectly]="hasAnsweredCorrectly"
        [hasAnswered]="hasAnswered"
        [hasAnswer]="hasGivenAnswer"
        [correctAnswer]="exercise.correctAnswer"
        [isSpeakingExercise]="true"
        (isDoneEvent)="nextExercise()"
        (checkAnswerEvent)="checkAnswer()"></result-box>
</div>