<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<div class="container">
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TBFCaKRYVfg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>0</th>
                <td><speak [text]="'Μηδέν'"></speak></td>
            </tr>
            <tr>
                <th>1</th>
                <td><speak [text]="'Ένα'"></speak></td>
            </tr>
            <tr>
                <th>2</th>
                <td><speak [text]="'Δύο'"></speak></td>
            </tr>
            <tr>
                <th>3</th>
                <td><speak [text]="'Τρία'"></speak></td>
            </tr>
            <tr>
                <th>4</th>
                <td><speak [text]="'Τέσσερα'"></speak></td>
            </tr>
            <tr>
                <th>5</th>
                <td><speak [text]="'Πέντε'"></speak></td>
            </tr>
            <tr>
                <th>6</th>
                <td><speak [text]="'Έξι'"></speak></td>
            </tr>
            <tr>
                <th>7</th>
                <td><speak [text]="'Εφτά'"></speak> / <speak [text]="'Επτά'"></speak></td>
            </tr>
            <tr>
                <th>8</th>
                <td><speak [text]="'Οχτώ'"></speak> / <speak [text]="'Οκτώ'"></speak></td>
            </tr>
            <tr>
                <th>9</th>
                <td><speak [text]="'Εννιά'"></speak> / <speak [text]="'Εννέα'"></speak></td>
            </tr>
            <tr>
                <th>10</th>
                <td><speak [text]="'Δέκα'"></speak></td>
            </tr>
        </tbody>
    </table>
    <exercises-button [lesson]="title" [breadcrumbs]="breadcrumbs"></exercises-button>
</div>