<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<div class="container">
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TBFCaKRYVfg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td><speak [text]="'Μηδέν'"></speak></td>
                <td>Нула</td>
            </tr>
            <tr>
                <td><speak [text]="'Ένα'"></speak></td>
                <td>Едно</td>
            </tr>
            <tr>
                <td><speak [text]="'Δύο'"></speak></td>
                <td>Две</td>
            </tr>
            <tr>
                <td><speak [text]="'Τρία'"></speak></td>
                <td>Три</td>
            </tr>
            <tr>
                <td><speak [text]="'Τέσσερα'"></speak></td>
                <td>Четири</td>
            </tr>
            <tr>
                <td><speak [text]="'Πέντε'"></speak></td>
                <td>Пет</td>
            </tr>
            <tr>
                <td><speak [text]="'Έξι'"></speak></td>
                <td>Шест</td>
            </tr>
            <tr>
                <td><speak [text]="'Εφτά'"></speak> / <speak [text]="'Επτά'"></speak></td>
                <td>Седем</td>
            </tr>
            <tr>
                <td><speak [text]="'Οχτώ'"></speak> / <speak [text]="'Οκτώ'"></speak></td>
                <td>Осем</td>
            </tr>
            <tr>
                <td><speak [text]="'Εννιά'"></speak> / <speak [text]="'Εννέα'"></speak></td>
                <td>Девет</td>
            </tr>
            <tr>
                <td><speak [text]="'Δέκα'"></speak></td>
                <td>Десет</td>
            </tr>
        </tbody>
    </table>
</div>