img {
    width: 5rem;
}

.container {
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(47,164,231,0.6); 
    box-shadow: 0px 0px 5px 5px rgba(47,164,231,0.6);
    min-width: 10rem;
    min-height: 10rem;
    border-radius: 10rem;
    width: fit-content;
}