<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<div class="container">
    <h1><speak [text]="'Λεξιλόγιο'"></speak></h1>
    <table class="table table-hover">
        <tbody>
          <tr *ngFor="let vocab of vocabulary">
              <td><speak [text]="vocab.expression"></speak></td>
              <td>{{vocab.translation}}</td>
          </tr>
        </tbody>
    </table>
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading"><speak [text]="'Προσοχή!'"></speak></h4>
        <p>Въпросителният знак в гръцкия език се изписва с точка и запетая (;). Знак (?) не съществува и употребата му е грешна!</p>
    </div>
    <exercises-button [lesson]="title"></exercises-button>
</div>