<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<div *ngIf="errorMsg" class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Грешка!</h4>
  <p class="mb-0">{{errorMsg}}</p>
</div>
<div class="row">
  <div *ngFor="let topic of topics"  class="col-md-3 topic-container">
    <a [routerLink]="[topic.routerLink]" [state]="{breadcrumbs: breadcrumbs}"><topic-box [topic]="topic"></topic-box></a>
  </div>
</div>
<br>