<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<p>
  home works!
  <button (click)="test()">test</button>
</p>

<div class="row">
  <div *ngFor="let topic of topics"  class="col-md-3 topic-container">
    <a [routerLink]="[topic.routerLink]" [state]="{breadcrumbs: breadcrumbs}"><topic-box [topic]="topic"></topic-box></a>
  </div>
</div>
<br>
<div *ngFor="let exercise of exercises">
  <open-exercise *ngIf="isOpenExercise(exercise)" [exercise]="exercise"></open-exercise>
  <closed-exercise *ngIf=isClosedExercise(exercise) [exercise]="exercise"></closed-exercise>
  <drag-and-drop-exercise *ngIf="isDragAndDropExercise(exercise)" [exercise]="exercise"></drag-and-drop-exercise>
</div>
<div *ngIf="speech">{{speech}}</div>
<button (click)="listen()">Listen</button>
<button (click)="change()">change</button>