<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<div class="container">
    <h2>Образуване на звуци [аи], [еи] и [ои]</h2>
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading"><speak [text]="'Προσοχή!'"></speak></h4>
        <p>Αι, ει, οι се четат [е], [и], [и].</p>
        <p>Но ако първата гласна е ударена, άι, έι, όι се четат [аи], [еи], [ои].</p>
        <p>Съчетанията αϊ, εϊ, οϊ също се четат [аи], [еи], [ои].</p>
    </div>
    <div class="row">
    <table class="table table-hover col-md-4">
        <thead>
            <tr>
                <th>[е]</th>
                <th>[аи]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><speak [text]="'Αίγυπτος'"></speak></td>
                <td><speak [text]="'Αζερμπαϊτζάν'"></speak></td>
            </tr>
            <tr>
                <td><speak [text]="'παιδί'"></speak></td>
                <td><speak [text]="'Μάιος'"></speak></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover col-md-4">
        <thead>
            <tr>
                <th>[и]</th>
                <th>[еи]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><speak [text]="'Ειρήνη'"></speak></td>
                <td><speak [text]="'τρόλεϊ'"></speak></td>
            </tr>
            <tr>
                <td><speak [text]="'σχολείο'"></speak></td>
                <td><speak [text]="'Σίδνεϊ'"></speak></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover col-md-4">
        <thead>
            <tr>
                <th>[и]</th>
                <th>[ои]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><speak [text]="'οικονομία'"></speak></td>
                <td><speak [text]="'σόι'"></speak></td>
            </tr>
            <tr>
                <td><speak [text]="'ποιος'"></speak></td>
                <td><speak [text]="'προϊόν'"></speak></td>
            </tr>
        </tbody>
    </table>
    </div>
    <exercises-button [lesson]="title"></exercises-button>
</div>