<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<div class="container">
    <form class="col-md-6 authentication-form" [formGroup]="changePasswordForm">
        <error-box *ngIf="errorMessage" [message]="errorMessage"></error-box>
        <div class="form-group">
            <label for="exampleInputPassword1">Стара парола</label>
            <input type="password" class="form-control" name="oldPassword" formControlName="oldPassword" placeholder="Стара парола">
            <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="error-message">
                <ul>
                <li *ngIf="oldPassword.errors.required">
                    Въведете стара парола!
                </li>
                </ul>
            </div>
        </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Нова парола</label>
        <input type="password" class="form-control" name="password" formControlName="password" id="exampleInputPassword1" placeholder="Нова парола">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
          <ul>
            <li *ngIf="password.errors.required">
              Въведете нова парола!
            </li>
            <li *ngIf="password.errors.minlength">
              Минимална дължина 6 символа!
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Потвръждение на парола</label>
        <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" id="confirmPassword" placeholder="Нова парола">
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="error-message">
          <ul>
            <li *ngIf="confirmPassword.errors.required">
              Потвърдете паролата!
            </li>
          </ul>
        </div>
        <div class="error-message" *ngIf="changePasswordForm.hasError('notSame')">
          <ul>
            <li>
              Паролите не съвпадат!
            </li>
          </ul>
        </div>
      </div>
      <button type="submit" (click)="changePassword()" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Промяна</button>
    </form>
  </div>