<div class="container" *ngIf="exercise">
  <error-box *ngIf="errorMessage" [message]="errorMessage"></error-box>
  <h1>{{exercise.description}}</h1>
  <div class="exercise-content" *ngIf="!exercise.isHearingExercise">
    <speak *ngIf="exercise.textToSpeechContent" [text]="exercise.content"></speak>
    <span *ngIf="!exercise.textToSpeechContent">{{exercise.content}}</span>
  </div>
  <speaker-button *ngIf="exercise.isHearingExercise" [text]="exercise.content"></speaker-button>
  <div class="form-group">
    <textarea class="form-control" [(ngModel)]="userAnswer" cols="30" rows="10"></textarea>
  </div>
  <result-box
  [hasAnsweredCorrectly]="hasAnsweredCorrectly"
  [hasAnswered]="hasAnswered"
  [hasAnswer]="userAnswer?.length > 0"
  [correctAnswer]="exercise.correctAnswer"
  (isDoneEvent)="nextExercise()"
  (checkAnswerEvent)="checkAnswer()"></result-box>
</div>