<div class="container" *ngIf="exercise">
  <h1>{{exercise.description}}</h1>
  <div *ngIf="!exercise.isHearingExercise">
    <speak *ngIf="exercise.isGreekContent" [text]="exercise.content"></speak>
    <span *ngIf="!exercise.isGreekContent">{{exercise.content}}</span>
  </div>
  <speaker-button *ngIf="exercise.isHearingExercise" [text]="exercise.content"></speaker-button>
  <div>
    <div *ngFor="let option of exercise.options" class="exercise-option" [class.marked]="option.isMarked" (click)="mark(option)">{{option.content}}</div>
  </div>
  <button class="btn btn-primary" (click)="checkAnswer()" [disabled]="!hasMarkedAnswer || hasAnswered">Провери</button>
  <button *ngIf="hasAnswered" class="btn btn-success" (click)="nextExercise()">Продължи</button>
</div>