<div class="container" *ngIf="exercise">
    <h1>{{exercise.description}}</h1>
    <!-- <div class="exercise-content" *ngIf="!exercise.isHearingExercise">
        <speak *ngIf="exercise.isGreekContent" [text]="exercise.content"></speak>
        <span *ngIf="!exercise.isGreekContent">{{exercise.content}}</span>
    </div> -->
    <div *ngIf="!exercise.isHearingExercise">{{exercise.content}}</div>
    <speaker-button *ngIf="exercise.isHearingExercise" [text]="exercise.content"></speaker-button>
    <div class="microphone-icon" (click)="listen()">
        <i class="material-icons">mic</i>
    </div>
    <result-box
        [hasAnsweredCorrectly]="hasAnsweredCorrectly"
        [hasAnswered]="hasAnswered"
        [hasAnswer]="hasGivenAnswer"
        [correctAnswer]="exercise.correctAnswer"
        [isSpeakingExercise]="true"
        (isDoneEvent)="nextExercise()"
        (checkAnswerEvent)="checkAnswer()"></result-box>
</div>