<div class="container">
  <form class="col-md-6 authentication-form" [formGroup]="loginForm">
    <error-box *ngIf="errorMsg" [message]="errorMsg"></error-box>
    <div class="form-group">
      <label for="exampleInputEmail1">Имейл</label>
      <input type="email" class="form-control" name="email" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Въведете имейл">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
        <ul>
          <li *ngIf="email.errors.required || email.errors.email">
            Въведете валиден имейл!
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Парола</label>
      <input type="password" class="form-control" name="password" formControlName="password" id="exampleInputPassword1" placeholder="Парола">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
        <ul>
          <li *ngIf="password.errors.required">
            Въведете парола!
          </li>
        </ul>
      </div>
    </div>
    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary" (click)="login()">Вход</button>
    <button type="button" class="btn btn-link" routerLink="/забравена-парола">Забравена парола</button>
  </form>
</div>