<div *ngIf="exercises?.length > 0" class="row">
  <error-box *ngIf="errorMessage" [message]="errorMessage"></error-box>
  <div class="col-md-6">
    <div [@enterAnimation] class="medal" *ngIf="currentExerciseIndex === exercises.length">
      <figure *ngIf="isGold()"  class="figure">
        <h1><speak [text]="'Συγχαρητήρια'"></speak></h1>
        <img src="/assets/imgs/medals/gold.png" alt="Златен медал" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption">Поздравления завършихте урока безгрешно!</figcaption>
      </figure>
      <figure *ngIf="isSilver()" class="figure">
        <h1><speak [text]="'Συγχαρητήρια'"></speak></h1>
        <img src="/assets/imgs/medals/silver.png" alt="Сребърен медал" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption">Поздравления завършихте урока с висок резултат!</figcaption>
      </figure>
      <figure *ngIf="isBronze()" class="figure">
        <h1><speak [text]="'Συγχαρητήρια'"></speak></h1>
        <img src="/assets/imgs/medals/bronze.png" alt="Бронзов медал" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption">Поздравления завършихте урока успешно!</figcaption>
      </figure>
      <figure *ngIf="isFailed()" class="figure">
        <figcaption class="figure-caption">Опитай пак!</figcaption>
      </figure>
    </div>
    <div *ngFor="let exercise of exercises; let i = index">
      <open-exercise *ngIf="isOpenExercise(exercise) && currentExerciseIndex === i" [exercise]="exercise" [sessionId]="sessionId" (isDoneEvent)="nextExercise($event)"></open-exercise>
      <closed-exercise *ngIf="isClosedExercise(exercise) && currentExerciseIndex === i" [exercise]="exercise" [sessionId]="sessionId" (isDoneEvent)="nextExercise($event)"></closed-exercise>
      <drag-and-drop-exercise *ngIf="isDragAndDropExercise(exercise) && currentExerciseIndex === i" [exercise]="exercise" [sessionId]="sessionId" (isDoneEvent)="nextExercise($event)"></drag-and-drop-exercise>
      <speaking-exercise *ngIf="isSpeakingExercise(exercise) && currentExerciseIndex === i" [exercise]="exercise" [sessionId]="sessionId" (isDoneEvent)="nextExercise($event)"></speaking-exercise>
    </div>
  </div>
  <div class="col-md-3 did-you-know">
    <did-you-know></did-you-know>
  </div>
</div>
<h1 *ngIf="(!exercises || exercises.length === 0) && !isLoading">Временно няма качени упражнения.</h1>
<mat-spinner *ngIf="isLoading === true"></mat-spinner>