<div class="container" *ngIf="alphabet">
  <h1><speak [text]="'Το ελληνικό αλφάβητο'" [voice]="voice"></speak></h1>
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let letter of alphabet">
        <th>{{letter.letter}}</th>
        <td><speak [text]="letter.pronunciation" [voice]="voice"></speak></td>
        <td><speak [text]="letter.example" [voice]="voice"></speak></td>
        <td>{{letter.transcription}}</td>
      </tr>
    </tbody>
  </table>
  
  * ς е крайна сигма и се използва само в края на думата. Пример: Καναδάς.
</div>