<div class="container">
  <h1>{{topic.title}}</h1>
  <button (click)="asd()">asd</button>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">Α α</th>
        <td>Άλφα</td>
        <td>Αλβανία</td>
        <td>[a]</td>
      </tr>
      <tr>
        <th scope="row">Β β</th>
        <td>Βήτα</td>
        <td>Βουλγαρία</td>
        <td>[v]</td>
      </tr>
      <tr>
        <th scope="row">Γ γ</th>
        <td>Γάμα</td>
        <td>Γερμανία</td>
        <td>[γ]</td>
      </tr>
      <tr>
        <th scope="row">Δ δ</th>
        <td>Δέλτα</td>
        <td>Δανία</td>
        <td>[ð]</td>
      </tr>
      <tr>
        <th scope="row">Ε ε</th>
        <td>Έψιλον</td>
        <td>Ελλάδα</td>
        <td>[e]</td>
      </tr>
      <tr>
        <th scope="row">Ζ ζ</th>
        <td>Ζήτα</td>
        <td>Ζάμπια</td>
        <td>[z]</td>
      </tr>
      <tr>
        <th scope="row">Η η</th>
        <td>Ήτα</td>
        <td>ΗΠΑ</td>
        <td>[i]</td>
      </tr>
      <tr>
        <th scope="row">Θ θ</th>
        <td>Θήτα</td>
        <td>Θεσσαλονίκη</td>
        <td>[θ]</td>
      </tr>
      <tr>
        <th scope="row">Ι ι</th>
        <td>Γιώτα</td>
        <td>Ιαπωνία</td>
        <td>[ι]</td>
      </tr>
      <tr>
        <th scope="row">Κ κ</th>
        <td>Κάπα</td>
        <td>Καναδάς</td>
        <td>[k]</td>
      </tr>
      <tr>
        <th scope="row">Λ λ</th>
        <td>Λάμδα</td>
        <td>Λίβανος</td>
        <td>[l]</td>
      </tr>
      <tr>
        <th scope="row">Μ μ</th>
        <td>Μι</td>
        <td>Μεξικό</td>
        <td>[m]</td>
      </tr>
      <tr>
        <th scope="row">Ν ν</th>
        <td>Νι</td>
        <td>Νορβηγία</td>
        <td>[n]</td>
      </tr>
      <tr>
        <th scope="row">Ξ ξ</th>
        <td>Ξι</td>
        <td>Ξάνθη</td>
        <td>[ks]</td>
      </tr>
      <tr>
        <th scope="row">Ο ο</th>
        <td>Όμικρον</td>
        <td>Ομάν</td>
        <td>[o]</td>
      </tr>
      <tr>
        <th scope="row">Π π</th>
        <td>Πι</td>
        <td>Πορτογαλία</td>
        <td>[p]</td>
      </tr>
      <tr>
        <th scope="row">Ρ ρ</th>
        <td>Ρω</td>
        <td>Ρουμανία</td>
        <td>[r]</td>
      </tr>
      <tr>
        <th scope="row">Σ σ ς</th>
        <td>Σίγμα</td>
        <td>Συρία</td>
        <td>[s]</td>
      </tr>
      <tr>
        <th scope="row">Τ τ</th>
        <td>Ταυ</td>
        <td>Τουρκία</td>
        <td>[t]</td>
      </tr>
      <tr>
        <th scope="row">Υ υ</th>
        <td>Ύψιλον</td>
        <td>Υεμένη</td>
        <td>[i]</td>
      </tr>
      <tr>
        <th scope="row">Φ φ</th>
        <td>Φι</td>
        <td>Φινλανδία</td>
        <td>[f]</td>
      </tr>
      <tr>
        <th scope="row">Χ χ</th>
        <td>Χι</td>
        <td>Χιλή</td>
        <td>[h]</td>
      </tr>
      <tr>
        <th scope="row">Ψ ψ</th>
        <td>Ψι</td>
        <td>Ψυχολογία</td>
        <td>[ps]</td>
      </tr>
      <tr>
        <th scope="row">Ω ω</th>
        <td>Ωμέγα</td>
        <td>Ωκεανός</td>
        <td>[o]</td>
      </tr>
    </tbody>
  </table>
</div>