<div class="container">
  <h1>{{topic.title}}</h1>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">Α α</th>
        <td><speak [content]="'Άλφα'"></speak></td>
        <td><speak [content]="'Αλβανία'"></speak></td>
        <td>[a]</td>
      </tr>
      <tr>
        <th scope="row">Β β</th>
        <td><speak [content]="'Βήτα'"></speak></td>
        <td><speak [content]="'Βουλγαρία'"></speak></td>
        <td>[v]</td>
      </tr>
      <tr>
        <th scope="row">Γ γ</th>
        <td><speak [content]="'Γάμα'"></speak></td>
        <td><speak [content]="'Γερμανία'"></speak></td>
        <td>[γ]</td>
      </tr>
      <tr>
        <th scope="row">Δ δ</th>
        <td><speak [content]="'Δέλτα'"></speak></td>
        <td><speak [content]="'Δανία'"></speak></td>
        <td>[ð]</td>
      </tr>
      <tr>
        <th scope="row">Ε ε</th>
        <td><speak [content]="'Έψιλον'"></speak></td>
        <td><speak [content]="'Ελλάδα'"></speak></td>
        <td>[e]</td>
      </tr>
      <tr>
        <th scope="row">Ζ ζ</th>
        <td><speak [content]="'Ζήτα'"></speak></td>
        <td><speak [content]="'Ζάμπια'"></speak></td>
        <td>[z]</td>
      </tr>
      <tr>
        <th scope="row">Η η</th>
        <td><speak [content]="'Ήτα'"></speak></td>
        <td><speak [content]="'ΗΠΑ'"></speak></td>
        <td>[i]</td>
      </tr>
      <tr>
        <th scope="row">Θ θ</th>
        <td><speak [content]="'Θήτα'"></speak></td>
        <td><speak [content]="'Θεσσαλονίκη'"></speak></td>
        <td>[θ]</td>
      </tr>
      <tr>
        <th scope="row">Ι ι</th>
        <td><speak [content]="'Γιώτα'"></speak></td>
        <td><speak [content]="'Ιαπωνία'"></speak></td>
        <td>[ι]</td>
      </tr>
      <tr>
        <th scope="row">Κ κ</th>
        <td><speak [content]="'Κάπα'"></speak></td>
        <td><speak [content]="'Καναδάς'"></speak></td>
        <td>[k]</td>
      </tr>
      <tr>
        <th scope="row">Λ λ</th>
        <td><speak [content]="'Λάμδα'"></speak></td>
        <td><speak [content]="'Λίβανος'"></speak></td>
        <td>[l]</td>
      </tr>
      <tr>
        <th scope="row">Μ μ</th>
        <td><speak [content]="'Μι'"></speak></td>
        <td><speak [content]="'Μεξικό'"></speak></td>
        <td>[m]</td>
      </tr>
      <tr>
        <th scope="row">Ν ν</th>
        <td><speak [content]="'Νι'"></speak></td>
        <td><speak [content]="'Νορβηγία'"></speak></td>
        <td>[n]</td>
      </tr>
      <tr>
        <th scope="row">Ξ ξ</th>
        <td><speak [content]="'Ξι'"></speak></td>
        <td><speak [content]="'Ξάνθη'"></speak></td>
        <td>[ks]</td>
      </tr>
      <tr>
        <th scope="row">Ο ο</th>
        <td><speak [content]="'Όμικρον'"></speak></td>
        <td><speak [content]="'Ομάν'"></speak></td>
        <td>[o]</td>
      </tr>
      <tr>
        <th scope="row">Π π</th>
        <td><speak [content]="'Πι'"></speak></td>
        <td><speak [content]="'Πορτογαλία'"></speak></td>
        <td>[p]</td>
      </tr>
      <tr>
        <th scope="row">Ρ ρ</th>
        <td><speak [content]="'Ρω'"></speak></td>
        <td><speak [content]="'Ρουμανία'"></speak></td>
        <td>[r]</td>
      </tr>
      <tr>
        <th scope="row">Σ σ ς</th>
        <td><speak [content]="'Σίγμα'"></speak></td>
        <td><speak [content]="'Συρία'"></speak></td>
        <td>[s]</td>
      </tr>
      <tr>
        <th scope="row">Τ τ</th>
        <td><speak [content]="'Ταυ'"></speak></td>
        <td><speak [content]="'Τουρκία'"></speak></td>
        <td>[t]</td>
      </tr>
      <tr>
        <th scope="row">Υ υ</th>
        <td><speak [content]="'Ύψιλον'"></speak></td>
        <td><speak [content]="'Υεμένη'"></speak></td>
        <td>[i]</td>
      </tr>
      <tr>
        <th scope="row">Φ φ</th>
        <td><speak [content]="'Φι'"></speak></td>
        <td><speak [content]="'Φινλανδία'"></speak></td>
        <td>[f]</td>
      </tr>
      <tr>
        <th scope="row">Χ χ</th>
        <td><speak [content]="'Χι'"></speak></td>
        <td><speak [content]="'Χιλή'"></speak></td>
        <td>[h]</td>
      </tr>
      <tr>
        <th scope="row">Ψ ψ</th>
        <td><speak [content]="'Ψι'"></speak></td>
        <td><speak [content]="'Ψυχολογία'"></speak></td>
        <td>[ps]</td>
      </tr>
      <tr>
        <th scope="row">Ω ω</th>
        <td><speak [content]="'Ωμέγα'"></speak></td>
        <td><speak [content]="'Ωκεανός'"></speak></td>
        <td>[o]</td>
      </tr>
    </tbody>
  </table>
</div>