<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<div class="container">
    <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">[а] : α</th>
            <td>
                <speak [text]="'Αθήνα'"></speak>,
                <speak [text]="'Αργυρούπολη'"></speak>,
                <speak [text]="'ακρόπολη'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[е] : ε, αι</th>
            <td>
                <speak [text]="'Ελένη'"></speak>,
                <speak [text]="'Αιγάλεω'"></speak>,
                <speak [text]="'Αίνιγμα'"></speak>,
                <speak [text]="'ελαιόλαδο'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[у] : ου</th>
            <td>
                <speak [text]="'Ουρανούπολη'"></speak>,
                <speak [text]="'Συγγρού'"></speak>,
                <speak [text]="'Παπαδοπούλου'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[о] : ο, ω</th>
            <td>
                <speak [text]="'Ολυμπία'"></speak>,
                <speak [text]="'Μετέωρα'"></speak>,
                <speak [text]="'Όλγα'"></speak>,
                <speak [text]="'Ρωσία'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[и] : ι, η, υ, ει, οι, υι</th>
            <td>
              <speak [text]="'Ιταλία'"></speak>,
              <speak [text]="'ήλιος'"></speak>,
              <speak [text]="'ύμνος'"></speak>,
              <speak [text]="'Ειρήνη'"></speak>,
              <speak [text]="'οικονομία'"></speak>,
              <speak [text]="'υιός'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[аф], [еф] : αυ, ευ + κ, π, τ, φ, θ, χ, σ, ξ, ψ</th>
            <td>
              <speak [text]="'Αυστραλία'"></speak>,
              <speak [text]="'αυτός'"></speak>,
              <speak [text]="'ευχαριστώ'"></speak>,
              <speak [text]="'ευθεία'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[ав], [ев] : αυ, ευ + β, γ, δ, ζ, λ, ρ, μ, ν</th>
            <td>
              <speak [text]="'Ευρώπη'"></speak>,
              <speak [text]="'αυγό'"></speak>,
              <speak [text]="'αύριο'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[ав], [ев] : αυ, ευ + [а, е, и, о, у]</th>
            <td>
              <speak [text]="'Παρασκευή'"></speak>,
              <speak [text]="'ευαίσθητος'"></speak>,
              <speak [text]="'δουλεύω'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[б], [мб] : μπ</th>
            <td>
              <speak [text]="'μπουζούκι'"></speak>,
              <speak [text]="'ομπρέλα'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[д], [нд] : ντ</th>
            <td>
              <speak [text]="'ντομάτα'"></speak>,
              <speak [text]="'Αντρέας'"></speak>,
              <speak [text]="'πάντα'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[г], [нг] : γγ, γκ</th>
            <td>
              <speak [text]="'Αγγλία'"></speak>,
              <speak [text]="'γκαράζ'"></speak>,
              <speak [text]="'φεγγάρι'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[ц] : τσ</th>
            <td>
              <speak [text]="'πίτσα'"></speak>
            </td>
          </tr>
          <tr>
            <th scope="row">[дз] : τζ</th>
            <td>
              <speak [text]="'τζιν'"></speak>,
              <speak [text]="'τζατζίκι'"></speak>
            </td>
          </tr>
        </tbody>
    </table>
    <exercises-button [lesson]="title"></exercises-button>
</div>