/* You can add global styles to this file, and also import other style files */
@import './app/variables.scss';

form.authentication-form {
    margin: 1rem auto;
}

.speak {
    cursor: pointer;
    border-bottom: 2px dashed $primary;
}

.error-message {
    color: red;
    font-size: 16px;
}

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;

    section {
        flex-grow: 1;
    }
    
    footer {
        min-width: auto;
        text-align: right;
        background-color: $primary;

        #responsivevoice {
            span {
                font-family: Open Sans,Helvetica,sans-serif;
                color: white;
                font-weight: bold;
                vertical-align: middle;
                font-size: 2rem;
            }
        }
    }
}
