/* You can add global styles to this file, and also import other style files */
@import './app/variables.scss';

form.authentication-form {
    margin: 1rem auto;
}

.speak {
    cursor: pointer;
    border-bottom: 2px dashed $primary;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
