<div class="container">
    <form class="col-md-6 authentication-form" [formGroup]="resetPasswordForm">
        <h3>Забравена парола</h3>
        <error-box *ngIf="errorMessage" [message]="errorMessage"></error-box>
        <div class="form-group">
        <label for="exampleInputEmail1">Имейл</label>
        <input type="email" class="form-control" name="email" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Въведете имейл">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
            <ul>
            <li *ngIf="email.errors.required || email.errors.email">
                Въведете валиден имейл!
            </li>
            </ul>
        </div>
        </div>
        <button [disabled]="!resetPasswordForm.valid" type="submit" class="btn btn-primary" (click)="reset()">Възстановяване</button>
        <div class="message">{{message}}</div>
    </form>
</div>