<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<div class="container">
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading"><speak [text]="'Προσοχή!'"></speak></h4>
        <p>Обръщайте специално внимание на падежите!</p>
        <p>Πόσο κάνει <strong>ένας</strong> υπολογιστής; - Колко струва един компютър?</p>
        <p>Θέλω <strong>έναν</strong> χυμό. - Искам един сок.</p>
        <p>Θέλω δύο χυμ<strong>ούς</strong>. - Искам два сока.</p>
    </div>
    <h3>Именителен падеж - <speak [text]="'Ονομαστική'"></speak></h3>
    <div class="row">
        <table class="table table-hover col-md-4">
            <thead>
                <tr><th colspan="2">Мъжки род - <speak [text]="'Αρσενικό'"></speak></th></tr>
                <tr>
                    <th>Ед. ч.</th>
                    <th>Мн. ч.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><speak [text]="'ο χυμός'"></speak></td>
                    <td><speak [text]="'οι χυμοί'"></speak></td>
                </tr>
                <tr>
                    <td><speak [text]="'ο αναπτήρας'"></speak></td>
                    <td><speak [text]="'οι αναπτήρες'"></speak></td>
                </tr>
                <tr>
                    <td><speak [text]="'ο υπολογιστής'"></speak></td>
                    <td><speak [text]="'οι υπολογιστές'"></speak></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover col-md-4">
            <thead>
                <tr><th colspan="2">Женски род - <speak [text]="'Θυλικό'"></speak></th></tr>
                <tr>
                    <th>Ед. ч.</th>
                    <th>Мн. ч.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><speak [text]="'η μπύρα'"></speak></td>
                    <td><speak [text]="'οι μπύρες'"></speak></td>
                </tr>
                <tr>
                    <td><speak [text]="'η σκηνή'"></speak></td>
                    <td><speak [text]="'οι σκηνές'"></speak></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover col-md-4">
            <thead>
                <tr><th colspan="2">Среден род - <speak [text]="'Ουδέτερο'"></speak></th></tr>
                <tr>
                    <th>Ед. ч.</th>
                    <th>Мн. ч.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><speak [text]="'το παγωτό'"></speak></td>
                    <td><speak [text]="'τα παγωτά'"></speak></td>
                </tr>
                <tr>
                    <td><speak [text]="'το ψωμί'"></speak></td>
                    <td><speak [text]="'τα ψωμιά'"></speak></td>
                </tr>
                <tr>
                    <td><speak [text]="'το μάθημα'"></speak></td>
                    <td><speak [text]="'τα μαθήματα'"></speak></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="dashed">
    <h3>Винителен падеж - <speak [text]="'Αιτιατική'"></speak></h3>
    <div class="row">
        <table class="table table-hover col-md-4">
            <thead>
                <tr><th colspan="2">Мъжки род - <speak [text]="'Αρσενικό'"></speak></th></tr>
                <tr>
                    <th>Ед. ч.</th>
                    <th>Мн. ч.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><speak [text]="'τον χυμό'"></speak></td>
                    <td><speak [text]="'τους χυμούς'"></speak></td>
                </tr>
                <tr>
                    <td><speak [text]="'τον αναπτήρα'"></speak></td>
                    <td><speak [text]="'τους αναπτήρες'"></speak></td>
                </tr>
                <tr>
                    <td><speak [text]="'τον υπολογιστή'"></speak></td>
                    <td><speak [text]="'τους υπολογιστές'"></speak></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover col-md-4">
            <thead>
                <tr><th colspan="2">Женски род - <speak [text]="'Θυλικό'"></speak></th></tr>
                <tr>
                    <th>Ед. ч.</th>
                    <th>Мн. ч.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><speak [text]="'την μπύρα'"></speak></td>
                    <td><speak [text]="'τις μπύρες'"></speak></td>
                </tr>
                <tr>
                    <td><speak [text]="'την σκηνή'"></speak></td>
                    <td><speak [text]="'τις σκηνές'"></speak></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover col-md-4">
            <thead>
                <tr><th colspan="2">Среден род - <speak [text]="'Ουδέτερο'"></speak></th></tr>
                <tr>
                    <th>Ед. ч.</th>
                    <th>Мн. ч.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><speak [text]="'το παγωτό'"></speak></td>
                    <td><speak [text]="'τα παγωτά'"></speak></td>
                </tr>
                <tr>
                    <td><speak [text]="'το ψωμί'"></speak></td>
                    <td><speak [text]="'τα ψωμιά'"></speak></td>
                </tr>
                <tr>
                    <td><speak [text]="'το μάθημα'"></speak></td>
                    <td><speak [text]="'τα μαθήματα'"></speak></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3><speak [text]="'Λεξιλόγιο'"></speak></h3>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let vocab of vocabulary">
                <td><speak [text]="vocab.word"></speak></td>
                <td>{{vocab.translation}}</td>
            </tr>
        </tbody>
    </table>
    <exercises-button [lesson]="title"></exercises-button>
</div>